<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle mx-5" href="#"
       id="managedropdownmenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-plus"></i>
    </a>

    <ul class="dropdown-menu mt-2" aria-labelledby="managedropdownmenu">
        <li><a class="dropdown-item" asp-action="Create" asp-controller="Deck">
            Học phần</a>
        </li>
        <li><a class="dropdown-item" asp-action="Create" asp-controller="Folder" asp-area="Database">
            Thư mục</a>
        </li>
    </ul>
</div>
