
/*CSS này cho trang tạo học phần mới*/

body {
    background: var(--bg-color-grey);
}

.circle-button {
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 15px;
}

#title::placeholder {
    font-weight: bold;
    color: #6c757d;
}

.custom-input {
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--input-border-bottom-color);
    outline: none;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 0;
    background: white;
    color: #282E3E;
}

.custom-input:focus {
    border-bottom: 3px solid var(--yellow-color);
}

.course-password-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 5px;
    background: var(--bg-color-grey);
    color: #282E3E;
    padding: 0.5rem 1rem;
}

.course-password-input:focus {
    border-bottom: 3px solid var(--grey-color);
}

.term-item {
    background: white !important;
}

.btn-outline-secondary {
    background: white !important;
}

.btn-outline-secondary:hover {
    background: var(--btn-secondary-hover-color) !important;
    color: var(--grey-color);
}

.add-card:hover {
    background: var(--btn-secondary-hover-color) !important;
}

textarea::placeholder {
    font-weight: 500;
    color: var(--grey-color);
}

textarea {
    resize: none;
}

.form-check {
    margin-bottom: 8px;
}

.form-check-input {
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
}

.btn-img {
    border: 2px dashed !important;
    border-color: var(--light-grey-color) !important;
}

.btn-img:hover {
    .icon-img
    {
        color: var(--yellow-color);
    }
}

.btn-img:focus {
    border: 2px dashed !important;
    border-color: var(--light-grey-color) !important;
}

.course-setting-dropdown {
    background: white;
    color: var(--bs-primary);
    border-radius: 8px;
    width: 30%;
}

#course-setting-modal .modal-content {
    padding: 10px;
    border-radius: 20px;
}

#course-setting-modal .modal-header {
    border-bottom: none;
}

/* Tùy chỉnh giao diện của select */
.form-select {
    background-color: #fff;
    appearance: none;
    color: var(--bs-primary);
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    width: 60%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.form-select:focus {
    border: none;
    box-shadow: none;
}

.form-select:hover {
    background-color: #d0e7ff;
    border-color: var(--bs-primary);
}

.form-select option {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: none;
}

.fixed-top {
    padding: 25px 120px;
    background: white;
    z-index: 1030;
}

.preview-section {
    max-height: calc(50vh - 20px); /* 20px là chiều cao của thanh nút */
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 80px; /* Đảm bảo nội dung không bị che khuất bởi thanh nút */
}

.fixed-bottom {
    z-index: 1030;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#btn-choose-language {
    color: var(--light-grey-color);
    font-size: 13.5px;
    font-weight: 500;
    border: none;
    background: white;
    margin: 0;
    padding: 0 0 0 10px;
    text-align-last: end;
}

#btn-choose-language:focus {
    color: var(--yellow-color);
}

#btn-choose-language option{
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.btn-trash {
    color: var(--light-grey-color);
    font-size: small;
}

