
<div class="container import-flashcards-container" style="display: none;">
    <h4>Nhập dữ liệu</h4>
    <p>Chép và dán dữ liệu ở đây (từ Word, Excel, Google Docs, v.v.)</p>
    <textarea class="form-control mb-4 term-defi-textarea" rows="6"
              placeholder=""></textarea>

    <div class="row mb-3">
        <div class="col-md-3 fw-bold">
            <h5 class="fw-bold">Giữa thuật ngữ và định nghĩa</h5>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="separator" id="tab" checked>
                <label class="form-check-label" for="tab">Tab</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="separator" id="comma">
                <label class="form-check-label" for="comma">Phẩy</label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" name="separator" id="custom">
                <input type="text" class="form-control bg-light" style="width: 250px;" placeholder="-"
                       id="custom-separator">
            </div>
        </div>
        <div class="col-md-3 fw-bold">
            <h5 class="fw-bold">Giữa các thẻ</h5>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="tag-separator" id="newline" checked>
                <label class="form-check-label" for="newline">Dòng mới</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="tag-separator" id="comma-tags">
                <label class="form-check-label" for="comma-tags">Chấm phẩy</label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" name="tag-separator" id="custom-tags">
                <input type="text" class="form-control bg-light" style="width: 250px;" placeholder="\n\n"
                       id="custom-tag-separator">
            </div>
        </div>
    </div>

    <form method="post">
        <div class="preview-section">
            <h6>Xem trước <span class="text-muted" id="count-card">0 thẻ</span></h6>
            <p class="text-muted" id="none-preview-items">Không có nội dung để xem trước</p>

            <div id="preview-items">
                <!-- chứa các term definition-->
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-outline-secondary" id="cancel-import">Hủy nhập</button>
            <button type="button" class="btn btn-primary" id="import-btn">Nhập</button>
        </div>
    </form>
</div>