@for (var i = 1; i < 6; i++)
{
    <div class="term-item mb-3 border-0 rounded-3 py-2 px-4">
        <div class="row align-items-center">
            <div class="col border-bottom">
                <div class="col mb-2 d-flex align-items-center justify-content-between">
                    <span class="text-secondary fw-bold fs-6 term-item-count">@i</span>
                    <button type="button" class="btn btn-trash ms-auto">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="row my-3 term-def-input-row">
                <div class="col-5 pt-3">
                    <input type="text" class="custom-input term-defi-input" name="Term">
                    <div class="d-flex align-items-center justify-content-between mt-2">
                        <span class="fw-bold text-secondary" style="font-size: 10px;">THUẬT NGỮ</span>
                        <button type="button" id="btn-choose-language" class="bg-white">CHỌN NGÔN NGỮ</button>
                    </div>
                </div>
                <div class="col-5 pt-3">
                    <input type="text" class="custom-input term-defi-input" name="Definition">
                    <div class="d-flex align-items-center justify-content-between  mt-2">
                        <span class="fw-bold text-secondary" style="font-size: 10px;">ĐỊNH NGHĨA</span>
                        <button type="button" id="btn-choose-language" class="bg-white">CHỌN NGÔN NGỮ</button>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <button type="button" class="btn-img btn btn-light bg-white">
                        <i class="icon-img fa-regular fa-image"></i><br />
                        Hình ảnh
                    </button>
                </div>
            </div>
        </div>
    </div>
}