@for (var i = 1; i < 6; i++)
{
    <div class="term-item mb-3 border-0 rounded-3 p-3">
        <div class="row align-items-center">
            <div class="col mb-3">
                <span class="text-secondary fw-bold fs-6 term-item-count">@i</span>
                <hr />
            </div>
            <div class="row">
                <div class="col-5">
                    <input type="text" class="custom-input term-defi-input" name="Term">
                    <span class="fw-bold text-secondary" style="font-size: 10px;">THUẬT NGỮ</span>
                </div>
                <div class="col-5">
                    <input type="text" class="custom-input term-defi-input" name="Definition">
                    <span class="fw-bold text-secondary" style="font-size: 10px;">ĐỊNH NGHĨA</span>
                </div>
                <div class="col-2 text-end">
                    <button class="btn-img btn btn-light border">
                        <i class="icon-img fa-regular fa-image"></i><br />
                        Hình ảnh
                    </button>
                </div>
            </div>
        </div>
    </div>
}